*.[Cc]ache
*.[Oo]bj
*.aps
*.bak
*.DS_Store
*.ilk
*.lib
*.log
*.exe
*.ncb
*.opensdf
*.pch
*.resharper
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.orig
.svn
/Deck Converter/bin
/Deck Converter/obj
[Bb]in
[Bb]uild/
[Dd]ebug*/
[Oo]bj
[Rr]elease*/
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper*/
_ReSharper.*
~$*
Ankh.NoLoad
ipch/
obj/

*.ctl
*.vsp
*.psess

*.*~
*.typemock